<div class="container d-flex justify-content-center mb-5 col-12 col-md-4">
    <div class="card border-warning mb-3 text-center" style="max-width: 20rem;">
        <div class="card-header">{{ warehouse.name }}</div>
        <div class="card-body">
            <h4 class="card-title">{{ warehouse.name }}</h4>
            <p class="card-text">{{ warehouse.surface }}</p>
            <p><a href="{{ warehouse.url }}" class="btn btn-outline-warning">Plus d'infos</a></p>
        </div>
    </div>
</div>