{% extends '/layout/admin.html.twig' %}

{% block title %}Modifier un produit{% endblock %}

{% block body %}
<div class="container mb-5 mt-3">
    <h2 class="display-5 text-center">Modifier un produit</h2>
</div>

<p class="grey">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto nam aut quisquam. At ut enim possimus. Quo enim temporibus perferendis corporis magnam laboriosam soluta, repudiandae quas itaque? Modi assumenda obcaecati ad eligendi quasi natus porro unde eveniet. Illum eaque est vel non laborum in commodi et, consequuntur nesciunt laudantium illo saepe praesentium pariatur nemo maxime deserunt, porro consectetur eius quos inventore veniam fugit quisquam?</p>

<div class="formulaire">
    <form method="POST" action="" class="form">
        <div class="form-info">Identifiant du fournisseur : <span class="grey">{{product.supplierId}}</span></div>
        <div class="form-row">
            <label for="name">Nom du produit</label>
            <input type="text" name="name" class="form-input" id="name" value="{{ product.name }}" placeholder="Entrez le nom du produit">
        </div>

        <div class="form-row">
            <label for="volume">Volume du produit</label>
            <input type="text" name="volume" class="form-input" id="volume" value="{{ product.volume }}" placeholder="Indiquez le volume du produit">
            <small>En mètre carré (m2)</small>
        </div>

        <div class="form-row">
            <p>Toxicité du produit:</p>
            <div class="custom-control custom-radio">
                <input type="radio" id="toxicity1" class="custom-control-input" name="toxicity" value="1" 
                {% if product.toxicity is same as('0') %}checked{% endif %}>
                <label for="toxicity1" class="custom-control-label">Non</label>
            </div>

            <div class="custom-control custom-radio">
                <input type="radio" id="toxicity2" class="custom-control-input" name="toxicity" value="2" 
                {% if product.toxicity is same as('1') %}checked{% endif %}>
                <label for="toxicity2" class="custom-control-label">Oui</label>
            </div>
        </div>

        <div class="form-row">
            <button type="submit" class="button">Modifier ce produit</button>
        </div>
    </form>
</div>

<div class="delete-btn">
    <a href="#" class="button" onclick="deleting('admin/product', {{ product.id }})">Supprimer ce produit</a>
</div>

{% endblock %}