{% extends '/layout/default.twig' %}

{% block title %}Messages avec {{ contact.name }}{% endblock %}

{% block body %}
    <div class="mb-5">
        <a href="{{ uri('messages', {'id':user.id}) }}">Revenir à la messagerie</a>
    </div>

    <div class="container mb-5">
        <h2 class="display-5">Vos messages avec {{ contact.name }}</h2>
    </div>
    <div class="container mb-5" id="all-msg">
        {% include "/message/display_message.html.twig" %}
    </div>

    <div class="container mb-5">
        <h2 class="display-5 mb-4">Répondez au message</h2>
        <form method="post">
            <div class="form-group">
                <textarea name="message" class="form-control" id="message"></textarea>
            </div>
            <button type="button" onclick="sendMsg('{{ uri('message_show', {'id': user.id, 'contact_id':contact.id}) }}')" class="btn btn-warning">Envoyez votre message</button>
        </form>
    </div>

{% endblock %}