{% extends '/layout/admin.html.twig' %}

{% block title %}Index - Section sous haute-surveillance{% endblock %}

{% block body %}
<div class="title-content">
    <h2>Accueil</h2>
</div>

<div class="desc-content">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quae unde sed minus minima reprehenderit non! Similique aspernatur error nostrum commodi velit quas magni, fuga distinctio, sit dicta minima deleniti asperiores aperiam qui provident ipsa id labore, hic atque ex veritatis esse quo! Incidunt molestias dignissimos cupiditate ipsum maxime officiis magni laborum tempore, iure provident quod exercitationem aut. Ex quos eligendi atque deserunt non cupiditate sit iure ipsam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima placeat impedit dolor enim laudantium libero quae illo molestias, iusto molestiae doloremque excepturi expedita, natus, quod repellendus veniam eligendi necessitatibus architecto perspiciatis tempore! Exercitationem a libero doloribus placeat facilis est quasi saepe ullam eveniet repudiandae autem, adipisci cupiditate inventore nulla beatae? Excepturi saepe quas, omnis incidunt quaerat tempore dolore architecto. Cumque vel placeat eos quod odio aspernatur consectetur eius laudantium vitae expedita quos quam minus dignissimos mollitia suscipit amet excepturi quisquam, assumenda accusantium architecto voluptatem omnis. Sapiente eveniet asperiores rem dolores, cumque harum, impedit vero neque eligendi quod, sunt modi nobis!</p>
</div>

<div class="two-col">
    <div class="one-col">
        <div class="title-content">
            <h2>Fournisseurs</h2>
        </div>
        <div class="desc-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quae unde sed minus minima reprehenderit non! Similique aspernatur error nostrum commodi velit quas magni, fuga distinctio, sit dicta minima deleniti asperiores aperiam qui provident ipsa id labore, hic atque ex veritatis esse quo! Incidunt molestias dignissimos cupiditate ipsum maxime officiis magni laborum tempore, iure provident quod exercitationem aut. Ex quos eligendi atque deserunt non cupiditate sit iure ipsam.</p>
        </div>
        <div class="link-content">
            <a href="#">Accéder à tous les fournisseurs...</a>
        </div>
    </div>

    <div class="one-col">
        <div class="title-content">
            <h2>Entrepôts</h2>
        </div>
        <div class="desc-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quae unde sed minus minima reprehenderit non! Similique aspernatur error nostrum commodi velit quas magni, fuga distinctio, sit dicta minima deleniti asperiores aperiam qui provident ipsa id labore, hic atque ex veritatis esse quo! Incidunt molestias dignissimos cupiditate ipsum maxime officiis magni laborum tempore, iure provident quod exercitationem aut. Ex quos eligendi atque deserunt non cupiditate sit iure ipsam.</p>
        </div>
        <div class="link-content">
            <a href="#">Accéder à tous les entrepôts...</a>
        </div>
    </div>
</div>

<div class="two-col">
    <div class="one-col">
        <div class="title-content">
            <h2>Marchandises</h2>
        </div>
        <div class="desc-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quae unde sed minus minima reprehenderit non! Similique aspernatur error nostrum commodi velit quas magni, fuga distinctio, sit dicta minima deleniti asperiores aperiam qui provident ipsa id labore, hic atque ex veritatis esse quo! Incidunt molestias dignissimos cupiditate ipsum maxime officiis magni laborum tempore, iure provident quod exercitationem aut. Ex quos eligendi atque deserunt non cupiditate sit iure ipsam.</p>
        </div>
        <div class="link-content">
            <a href="#">Accéder à toutes les marchandises...</a>
        </div>
    </div>

    <div class="one-col">
        <div class="title-content">
            <h2>Utilisateurs</h2>
        </div>
        <div class="desc-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quae unde sed minus minima reprehenderit non! Similique aspernatur error nostrum commodi velit quas magni, fuga distinctio, sit dicta minima deleniti asperiores aperiam qui provident ipsa id labore, hic atque ex veritatis esse quo! Incidunt molestias dignissimos cupiditate ipsum maxime officiis magni laborum tempore, iure provident quod exercitationem aut. Ex quos eligendi atque deserunt non cupiditate sit iure ipsam.</p>
        </div>
        <div class="link-content">
            <a href="#">Accéder à tous les utilisateurs...</a>
        </div>
    </div>
</div>
{% endblock %}