{% extends '/layout/default.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<div class="container mb-5 mt-5">
    <h2 class="display-5 text-center">Formulaire de connexion</h2>
</div>

<div class="container">
    <form method="POST" action="" class="form-group">
            <div class="form-row mb-5">
                <label for="email">Adresse email</label>
                <input type="email" name="mail" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Entrez votre email">
            </div>

            <div class="form-row mb-5">
                <label for="password">Mot de passe</label>
                <input type="password" name="password" class="form-control" id="password" aria-describedby="password" placeholder="Entrez votre mot de passe">
            </div>

            <div class="form-row mb-5">
                <div class="row">
                    <div class="col-6">
                        <button type="submit" class="btn btn-warning">Se connecter</button>
                    </div>
                    <div class="col-6">
                        <a href='{{ googleUrl }}' ><img src="/assets/img/googleSignIn.png" alt="Google sign in" class="google"></a>
                    </div>
                    <div class="col-6">
                        <a href='{{ facebookUrl }}' >Connexion facebook</a>
                    </div>
                </div>
            </div>
    </form>
</div>

{% endblock %}