{% extends '/layout/default.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<div class="container mb-5 mt-5">
    <h2 class="display-5 text-center">Formulaire de connexion</h2>
</div>

<div class="container">
    <form method="POST" action="" class="form-group">
            <div class="form-row mb-5">
                <label for="email">Adresse email</label>
                <input type="email" name="mail" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Entrez votre email">
            </div>

            <div class="form-row mb-5">
                <label for="password">Mot de passe</label>
                <input type="password" name="password" class="form-control" id="password" aria-describedby="password" placeholder="Entrez votre mot de passe">
            </div>

            <div class="form-row mb-5">
                        <button type="submit" class="btn btn-warning">Se connecter</button>
            </div>
    </form>
    <div class="form-row mb-2">
        <a href='{{ googleUrl }}' ><img src="/assets/img/loginByGoogle.png" alt="Google sign in" class="mr-5"></a>
        <a href='{{ facebookUrl }}' ><img src="/assets/img/loginByFacebook.png" alt="facebook sign in" class=""></a>
    </div>
    <p class="text-danger small">La connexion <strong>Facebook</strong> en mode developpement n'est pas sécurisée (connexion par le nom)</p>
</div>

{% endblock %}