{% extends '/layout/default.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="jumbotron">
    <h1 class="display-3">Bienvenue sur <span class="text-warning">WPS</span>simply.</h1>
    <p class="lead">Une plateforme regroupant des fournisseurs et des centres logistique. Un parfait outil pour gérer vos produits que vous soyez gérant d'entrepôt ou bien fournisseur. En quelques clics, vous aurez rapidement un état de votre structure.</p>
    <hr class="my-4">
    <p>Uniquely matrix economically sound value through cooperative technology. Competently parallel task fully researched data and enterprise process improvements. Collaboratively expedite quality manufactured products via client-focused results.</p>
    <p class="lead">
        <a class="btn btn-warning btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>

<div class="container">
    <h2 class="display-4">Organize.</h2>
    <p>Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
    <p>Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables. Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products.</p>
    <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
</div>

<div class="container">
    <h2 class="display-4">Digital.</h2>
    <p>Interactively procrastinate high-payoff content without backward-compatible data. Quickly cultivate optimal processes and tactical architectures. Completely iterate covalent strategic theme areas via accurate e-markets.</p>
    <p>Enthusiastically mesh long-term high-impact infrastructures vis-a-vis efficient customer service. Professionally fashion wireless leadership rather than prospective experiences. Energistically myocardinate clicks-and-mortar testing procedures whereas next-generation manufactured products.</p>
    <p>Globally incubate standards compliant channels before scalable benefits. Quickly disseminate superior deliverables whereas web-enabled applications. Quickly drive clicks-and-mortar catalysts for change before vertical architectures.</p>
    <p>User experience long tail channels pivot iPhone partnership market. Virality bandwidth iPad niche market metrics seed round founders ownership channels research and development partnership interaction design startup iPhone. Conversion innovator crowdsource analytics virality graphical user interface low hanging fruit. Agile development facebook analytics. Focus traction hypotheses investor entrepreneur market marketing network effects deployment long tail seed money startup backing.</p>
</div>

<div class="container mt-5 mb-5">
    <div class="row d-flex flex-wrap justify-content-around">
        <div class="col-12 col-md-3 image">
            <img src="https://loremflickr.com/320/240/tech" alt="random pic" class="">
        </div>
        <div class="col-12 col-md-3 image">
            <img src="https://loremflickr.com/320/240/web" alt="random pic" class="">
        </div>
        <div class="col-12 col-md-3 image">
            <img src="https://loremflickr.com/320/240/code" alt="random pic" class="">
        </div>
    </div>
</div>

<div class="container">
    <h2 class="display-4">Simplify.</h2>
    <p>Lean startup release alpha holy grail user experience. Ramen incubator buyer. Partnership lean startup creative business model canvas crowdsource stealth facebook release agile development early adopters ecosystem accelerator first mover advantage. Product management entrepreneur niche market startup investor social media launch party user experience iteration equity. Business plan client gen-z monetization iteration holy grail startup funding vesting period accelerator rockstar return on investment. Strategy accelerator stock. Handshake focus monetization seed money angel investor validation incubator traction.</p><p> Buyer learning curve responsive web design MVP termsheet iteration disruptive supply chain social media return on investment startup venture pivot. Business-to-consumer crowdfunding non-disclosure agreement burn rate prototype. Disruptive success innovator.</p>
    <p>Credibly innovate granular internal or "organic" sources whereas high standards in web-readiness. Energistically scale future-proof core competencies vis-a-vis impactful experiences. Dramatically synthesize integrated schemas with optimal networks.</p>
</div>

<div class="container text-center mt-5 mb-5">
    <div class="col-12">
        <img src="https://loremflickr.com/1024/240/tech" alt="random pic" class="img-fluid">
    </div>
</div>

{% endblock %}