{% extends '/layout/default.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="jumbotron">
    <h1 class="display-3">Welcome to <span class="text-warning">WPS</span>simply.</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt quo nostrum tempora sunt consequatur quod expedita et similique voluptatum obcaecati.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi unde nesciunt possimus minima magnam. Quas animi id, obcaecati, quam sunt eos eaque beatae, distinctio a ab voluptate error fugit numquam quibusdam velit quidem cupiditate nam possimus nulla. Dolorum, numquam unde?</p>
    <p class="lead">
        <a class="btn btn-warning btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>

<div class="container">
    <h2 class="display-4">Learn.</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis quibusdam recusandae sint commodi, quo aut voluptate deleniti atque, deserunt eum impedit porro ipsam accusamus consequuntur quidem totam magnam laudantium magni iste error suscipit. Ducimus tempora impedit velit odit delectus perspiciatis iusto, nesciunt maiores distinctio sequi, molestiae soluta quod consectetur sapiente?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit omnis enim, aliquam cumque tempora ratione odio exercitationem dolor delectus doloribus consectetur ullam repellendus impedit sit voluptatem, nesciunt maiores distinctio amet dolores? Dolorem ipsum at labore ex, vero cum iste eos officia fuga dolor unde autem, atque deserunt temporibus reiciendis? Id amet reprehenderit voluptate vitae laboriosam itaque, corrupti suscipit, pariatur voluptas quibusdam nam natus maxime iure!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, sunt quasi! Quam nisi, aliquam nihil ut cum omnis delectus, labore magnam nostrum cupiditate culpa deleniti debitis explicabo quia quaerat sint commodi beatae sit doloremque. In quasi nam maiores repellendus officiis nisi est iure reprehenderit totam.</p>
</div>

<div class="container">
    <h2 class="display-4">Digital.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate provident ipsa, illum est tenetur porro molestiae eum ut, dolorem molestias perferendis iusto? Nam in obcaecati deserunt corrupti, numquam debitis odio voluptates rem laboriosam consequatur, impedit, sunt voluptas autem dolores tenetur vero explicabo sapiente dolorem culpa dicta error! Sit dicta accusantium repudiandae minima vitae ducimus omnis facilis hic, fugit ea deleniti ipsum earum ab eveniet dignissimos cupiditate est adipisci mollitia quisquam, dolore temporibus ad deserunt voluptates? Id quae reprehenderit sint magni.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore ducimus eos, qui iure veritatis suscipit aut saepe, repudiandae cumque rem necessitatibus assumenda quod odio consectetur?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, nisi.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis vel ipsum laboriosam, quisquam alias sapiente sint nulla enim, accusantium impedit ratione reiciendis, qui quidem quibusdam excepturi vitae at dolores?</p>
</div>

<div class="container mt-5 mb-5">
    <div class="row d-flex flex-wrap justify-content-around">
        <div class="col-12 col-md-3">
            <img src="https://loremflickr.com/320/240/tech" alt="random pic" class="">
        </div>
        <div class="col-12 col-md-3">
            <img src="https://loremflickr.com/320/240/web" alt="random pic" class="">
        </div>
        <div class="col-12 col-md-3">
            <img src="https://loremflickr.com/320/240/code" alt="random pic" class="">
        </div>
    </div>
</div>

<div class="container">
    <h2 class="display-4">Degree.</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa eveniet neque nam, nihil ratione optio at, animi quaerat placeat, suscipit similique laudantium quo! Obcaecati amet asperiores voluptatibus, fugit ullam molestias inventore dolores vero veniam! Molestias officiis eos suscipit ullam enim?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas minus architecto voluptatum soluta, obcaecati beatae. Veritatis laborum quisquam inventore eligendi quod obcaecati! Itaque cupiditate consequatur culpa nesciunt dolorum atque saepe eum doloribus nihil facere ullam, neque voluptate laudantium vitae et, ipsam, animi impedit. Quibusdam minus ipsam possimus similique magni, iusto dolorem! Laborum esse consequatur architecto. Ut laborum facilis reprehenderit perspiciatis consequatur itaque voluptates fuga. Minima necessitatibus voluptate asperiores at natus ullam quis iure aspernatur et illum eligendi hic blanditiis, temporibus quia fugit ipsa vero ipsum dolorum quisquam quo! Veniam, repellat.</p>
</div>

<div class="container text-center mt-5 mb-5">
    <div class="col-12">
        <img src="https://loremflickr.com/860/240/tech" alt="random pic" class="img-fluid">
    </div>
</div>

{% endblock %}